body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;

}

header {
	margin: 0 2% 10% 2%;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li {
	font-size: 1.5em;
	margin: auto;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: spread;
	align-content: center;
	margin-left: 1%;
	margin-right: 1%;
	
}

#inputsection {
	flex: 1;
	margin: 1%;
	padding: 2%;
	background: teal;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#inputsection h2 {
	position: relative;
	color: #fff;
}

input {
	position: relative;
	width: 70%;
	height: 30px;
	margin: 0 auto; 
}

input:hover::placeholder {
	color: teal;
	text-align: center;
}

#listsection {
	flex: 1;
	margin: 1%;
	padding: 2%;
	background: teal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	color: #fff;
}

