@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700;900');

body {
    padding: 0;
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 95%;
    margin: auto;    
}

.visible-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 5px;
}

h1 {
    font-family: Monteserrat, sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    color: #6e921d;
}

.instructions-button {
    padding: 3px 5px;
    font-size: .7em;
    max-width: 60em;
    margin: 2em .5em;
    
}

h2 {
    font-family: Monteserrat, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    display: none;
}

.container {
    background: url('images/grass.jpg') #6e921d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    margin: 0;
}

.game_choices {
    background: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: auto; 
    display: flex;
    flex-direction: row; 
    top: 5vh;
    position: relative;
    padding: 5%;
}

button {
    display: inline-block;
    padding: 0.5em 3em;
    background: #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.15s;
    font-family: Monteserrat, sans-serif;
    color: #000000;
    font-weight: 200; 
    font-size: 1em;
    max-width: 100%;
    width: 15em;
    word-wrap: break-word;
    transition: all .3s;
}

button:hover  {
    cursor: pointer;
    transform: scale(1.1);
}

button:focus {
    outline: none;
}

#buyNewItemButton {
    display: none;
}

.game_results {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 20vh;
    width: 80%;
    margin: auto; 
    padding: 5%;
    color: #ffffff;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_results > p {
    font-family: Monteserrat, sans-serif;
    font-weight: 500; 
    font-size: 2.5em;
    letter-spacing: .1em;
    text-align: center;
}

.new_tool_selection {
    visibility: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    transition: all .3s;
}

.new_tool_selection > p {
    font-family: Monteserrat, sans-serif;
    font-weight: 500; 
    letter-spacing: .1em;
    font-size: 1.5em;
    text-align: center;
}

.yes_and_no_button_section {
    text-align: center;
}