$SourceCode: 'Source Code Pro', monospace;
$lightblue:  #d5f5ee;
$grey: #585a5b;
$coral: rgb(255,127,80);

.active {
    display: block !important;
    height: 100vh;
    @include transition(0.5s ease-in-out);

    li a {
        display: block;
        font-size: 1.3em;
        margin-bottom: 1.3em;
    }
}

#nav-bar {
    grid-column: first / span fourth;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;

    .main-nav {
        text-align: center;
        list-style-type: none;
        margin: 0;

        li {
            display: inline;
            font-family: monospace;
            font-size: 1em;
            margin-right: 2.5em;
            color: $lightblue;

            a {
                text-decoration: none;
                color: $lightblue;

                &:hover {
                    color: $coral;
                    @include transform(scale(1.2));
                    text-decoration: underline;
                }
            }
        }   
    }

    @include bp-desktop() {
        .navbar-toggle {
            display: none;
        }
    }

    @include bp-tablet() {
        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: $lightblue;
            font-size: 24px;
            display: inline !important;

            &:hover {
                color: $coral;
            }
        }

        .main-nav {
            display: none;
        }

    }
}


